.auth-page {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-page-container {
  width: 300px;
  max-height: 500px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.auth-page-item {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.auth-page-item-title {
  font-size: 23px;
  font-weight: bold;
}

.auth-page-item-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
