.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.wrapper {
  position: relative;
  margin-top: 50px;
  border: var(--border-default);
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.icon {
  position: absolute;
  font-size: 18px;
  color: #ccc;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn {
  /* border: 1px solid #ccc; */
  border: none;
  cursor: pointer;
}

.btn:hover {
  font-weight: bold;
}
