.wrapper {
  border: var(--border-normal);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 100%;
  height: 58.6px;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.info {
  display: flex;
  justify-content: space-between;
}

.left {
  font-size: 12px;
}

.title {
}

.right {
  font-size: 12px;
}

.count {
}

.input {
  outline: none;
  border: none;
  width: 100%;
  height: 20px;
  font-size: 20px;
}

.icon {
}
