.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--backdrop);
}

.container {
  position: relative;
  width: 80%;
  max-width: 600px;
  height: 600px;
  background-color: var(--background);
  border-radius: 15px;
}

.close {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  border: none;
}
