.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  padding: 10px;
  border: var(--border-default);
  border-radius: 10px;

  background-color: var(--background);
}

.container.success {
  border: var(--border-success);
}
.container.error {
  border: var(--border-error);
}
.container.warning {
  border: var(--border-warning);
}
.container.info {
  border: var(--border-info);
}
.container.help {
  border: var(--border-help);
}

.icon {
  font-size: 20px;
}

.icon.success {
  color: var(--point-color);
}
.icon.error {
  color: var(--color-error);
}
.icon.warning {
  color: var(--color-warning);
}
.icon.info {
  color: var(--color-info);
}
.icon.help {
  color: var(--color-help);
}

.content {
  flex: 1;
}
.close {
  cursor: pointer;
}
