.auth-button {
  user-select: none;
  display: flex;
  justify-content: center;
  gap: 10px;
  border: 1px solid #ccc;
  border-radius: 30px;
  padding: 10px;
  cursor: pointer;
  width: 100%;
}

/* hover 시 기본 색상 */
.auth-button:hover {
  background-color: rgba(237, 237, 237, 0.5);
}

.auth-button-text {
  font-weight: bold;
}
.auth-button-image {
  width: 20px;
  height: 20px;
}
